body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF; /* Texte blanc pour une meilleure lisibilité */
    overflow: hidden; /* Empêche le défilement de la page entière */
    background-color: #f4f4f4; /* Couleur de fond de la page, à ajuster si nécessaire */
}

.games-container {
    width: 720px; /* Largeur fixe pour le conteneur de jeu */
    height: 720px; /* Hauteur fixe pour le conteneur de jeu */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/ImageEcranAccueil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrer les éléments à l'intérieur du conteneur */
}

.game-leaderboard {
    display: flex;
    flex-direction: column; /* Empilement vertical */
    align-items: center; /* Centrage vertical */
    width: 50%; /* Utilise la moitié de la largeur du conteneur */
    max-height: 100%; /* S'assure que les éléments n'excèdent pas la hauteur du conteneur */
  }

#player-name {
    margin-bottom: 10px;
    padding: 10px;
    width: 80%; /* ajuste la largeur de l'input dans le conteneur */
    max-width: 300px; /* optionnel, pour ne pas devenir trop large sur les grands écrans */
    border: 2px solid #0088cc; /* Bordure bleue */
    border-radius: 20px; /* Coins arrondis pour l'input */
    font-size: 1.2em; /* Texte plus grand dans l'input */
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #22aa22; /* Vert, couleur vive et ludique */
    border: none; /* Pas de bordure */
    border-radius: 20px; /* Coins arrondis */
    color: white; /* Texte en blanc pour contraste */
    font-size: 1.5em; /* Augmenter la taille de la police */
    font-weight: bold; /* Rendre le texte en gras */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* Ombre portée pour donner du relief */
    transition: background-color 0.2s, transform 0.1s; /* Transition pour le survol */
}

button:hover {
    background-color: #22cc88; /* Changement de couleur au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

/* Styles pour le leaderboard */
#leaderboardJeu1, #leaderboardJeu2 {
  width: 100%; /* Prend toute la largeur du conteneur parent .game-leaderboard */
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
  color: #FFFFFF; /* Texte blanc pour une meilleure lisibilité */
  font-family: 'Courier New', monospace; /* Police classique rétro */
  padding: 10px;
  border-radius: 8px; /* Coins arrondis pour un look moderne */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre subtile pour du relief */
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Style pour les entrées du leaderboard */
#leaderboardJeu1 p, #leaderboardJeu2 p {
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px; /* Coins légèrement arrondis pour les entrées */
}

/* Style spécifique pour le premier joueur */
#leaderboardJeu1 p:first-child, #leaderboardJeu2 p:first-child {
  background-color: rgba(255, 215, 0, 0.7); /* Fond doré semi-transparent pour le vainqueur */
  color: #000000; /* Texte noir pour le contraste */
  font-weight: bold;
  border: 2px solid #ffd700; /* Bordure dorée pour le vainqueur */
  margin-bottom: 10px;
}

/* Style pour la numérotation (Optionnel) */
.leaderboard-ranking {
  font-weight: bold; /* Texte en gras pour la numérotation */
}

