body {
    background-color: #f0f0f0;
    font-family: 'Fredoka One', sans-serif;
}

.appcontainer {
    width: 720px; /* fixed width, you can also use percentage */
    height: 720px; /* fixed height, adjust as necessary */
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../images/ImageJeu2.png') no-repeat center center;
    position: absolute; /* position it absolutely within the body */
    left: 50%; /* 50% from the left */
    top: 50%; /* 50% from the top */
    transform: translate(-50%, -50%); /* pull back by half its own width and height to center */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    justify-content: center;
    text-align: center; /* for inline or inline-block elements like text or buttons */
    display: flex; /* use flexbox */
    flex-direction: column; /* stack children vertically */
    justify-content: center; /* center children vertically */
    align-items: center; /* center children horizontally */
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f5f;
}
